

<div class="mb-3">
    <form class="upload-form" action="/file/upload" method="post" enctype="multipart/form-data">
            <label for="formFile" class="form-label upload-form-lable">Upload File</label>
            <input id="formFile" class="form-control upload-form-control" type="file" accept=".csv" name="uploaded_file"
                placeholder="Upload CSV File...">
            <button type="submit" class="submit-button"><i class="fas fa-upload"></i></button>

    </form>
</div>

<div id="files-container">
    <% for(let i=0;i<file_list.length;i++){ %>
        <div class="file">
            <div class="file-name-container">
                <div class="file-name"><i class="fas fa-file"></i>
                    <%=file_list[i].substring(0,20) %>
                </div>
            </div>
            <div class="file-actions-container">
                <button onclick="loadingbtn('<%= i %>')" id="file-open-button<%= i %>" type="button"
                    class="btn btn-primary">open File</button>
                <a id="file-open<%= i %>" href="/file/open/?id=<%= i %>"></a>
                <div id="loadingiconfile-open-button<%= i %>"></div>
                <a href="/file/delete/?id=<%= i %>"><i style="padding-top: 10px;" class="fas fa-trash"></i></a>
            </div>


        </div>
        <% } %>

</div>

