<style>
    th {
        color: #fff;
    }


    #table-header-id {
        position: sticky;
        top: 0;
        background-color: navajowhite;
    }
    i:hover{
    transform: scale(1.3);
    cursor: pointer
}
.tableSearchForm{
    width: 60%;
    margin:auto;
}
.tableSearchBtn{
    margin-left: 3px;

}
</style>


<form class="tableSearchForm" onsubmit="searchFunction(event, '<%= id %>')">
    <div class="input-group">
        <input  name="search-bar" type="text" id="searchItem<%= id %>" class="form-control" placeholder="Search data...">
        <button type="submit" id="go" class="btn btn-primary tableSearchBtn" type="button" >Search
        </button>
    </div>
</form>


<table class="table table-striped table-bordered">
    <tr class="bg-info">
            <% headerAdded=false %>

                <% for(jsonObj of jsonData){ %>

                    <% if(!headerAdded){ %>
    <tr id="table-header-id">
        <% for (const property in jsonObj) { %>
            <th style="color:black">
                <%= property %> <i onclick="sortFunction('<%= property %>','<%= id %>')" class="fa-solid fa-sort"></i>
            </th>
            <% headerAdded=true %>
                <% } %>
    </tr>
    <% break; %>
        <% } %>

            <% } %>

                </tr>

                <tbody id="myTable<%= id %>">

                    <%- include('table_data', {jsonData : jsonData, searchResultArray:searchResultArray}); %>
                </tbody>
</table>



